{
    "useTabs": true,
    "printWidth": 300,
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "all",
    "jsxBracketSameLine": false,
    "parser": "babel",
    "noSemi": true,
    "rcVerbose": true
}